{% extends 'base.html.twig' %}

{% block title %}Édition de catégorie
{% endblock %}

{% block body %}
	<h1>Éditer une catégorie</h1>

	{{ include('categorie/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
	<br>
	<a href="{{ path('categorie_index') }}" class="btn btn-primary">Retour</a>
	<br><br>
	{{ include('categorie/_delete_form.html.twig') }}
{% endblock %}
